footer{
    background-color: #353535;
    height: 100px;
    text-align: center;
    color: #F9F9F9;
    display: grid;
    place-items: center;
    height: 200px;
}

footer p{
    font-weight: 500;
}