.notificao_eventos{
    background-color: #4D70B5;
    display: flex;
    justify-content: space-between;
    gap: 170px;
    align-items: center;
    padding: 30px;   
     
}

.imagem__container-notificacao{
    display: grid;
    place-items: center;
}

.imagem__container-notificacao img{
    width: 100%;
    
}

.notificacao__titulo{
    font-size: 24px;
    color: #F9F9F9;
    width: 60%;
}

.notificacao__texto{
    font-size: 18px;
    color: #F9F9F9;
    line-height: 1.5;
    width: 80%;
}

.notificacao-btn{
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: #00d084;
    transition: .5s;
    cursor: pointer;
    color: #ffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    
}

.notificacao-btn:hover{
    background-color: #303030;
}

.notificao_evento_adverso{
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    margin: 80px; 
}

.black{
    color: #303030;    
}

.orange{
    color: #F2380F;
    font-weight: 900;    
}

.orange_container{
    background-color: #F2380F;
}

